body {
    font-family: Bitter, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #fff;
}


.titulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
}

.musica {
    width: 80%;
    margin: 16px auto;
    padding-top: 16px;
}

.musica audio {display:block;
    margin: auto;
}

.container {
    min-height: 1px;
    width: 100%;
    padding:;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items .musica { display: block;
                margin: auto;
}

.container iframe,.items video {
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
}


.pie {color: #ffd500;}

.TITULO{
    position: relative;
}

.texto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    background: #000;
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    mix-blend-mode: multiply;
}

.videos{color: #ffd500;}


@media only screen and (min-width:600px) {

    .container{flex-wrap: nowrap;
        width: 1110px;
        margin: 32px, auto;
     }   

.items{width: 150%;
 height: 220px;
     margin-left: 16px;}
    h2 {flex-direction: column;}
    
    } 

@media only screen and (min-width:992px) {

    .container{flex-wrap: nowrap;
        width: 1110px;
        margin: auto;
     }   

.items{width: 150%;
 height: 50%;
     16px;}

     h2{display: block;}

}


    